body{
    background-color: #B6E6D7;
}

.face{
    background-color :#F3DC9D;
    height:600px;
    width:600px;
    position:absolute;
    top:500px;
    left:300px;
    right:0;
    bottom:0;
    border-radius:46%;
    
}

.left-ear{
    border-right:200px solid transparent;
    border-left:200px solid transparent;
    border-bottom:260px solid #F3DC9D;
    position: absolute;
    z-index:1;
    border-top-left-radius:1000px;
    border-top-right-radius:600px;
    border-bottom-left-radius:50px;
    transform:rotate(40deg);
    left:333px;
    top:-100px;
}

.left-inner-ear{
    border-right:170px solid transparent;
    border-left:170px solid transparent;
    border-bottom:200px solid #BCAC82; 
    position:absolute;
    left:-170px;
    top:60px;
}

.right-ear{
    border-right:200px solid transparent;
    border-left:200px solid transparent;
    border-bottom:260px solid #F3DC9D;
    position: absolute;
    z-index:1;
    border-top-left-radius:1000px;
    border-top-right-radius:600px;
    border-bottom-left-radius:50px;
    transform:rotate(-40deg);
    right:333px;
    top:-100px;
}

.right-inner-ear{
    border-right:170px solid transparent;
    border-left:170px solid transparent;
    border-bottom:200px solid #BCAC82; 
    position:absolute;
    right:-170px;
    top:60px;
}

.right-eye{
    width:89px;
    height:130px;
    background-color: red;
    border-radius:46%;
    position: absolute ;
    top:170px;
    right:111px;
    transform: rotate(-23deg);
    
}

.right-inner-eye{
    width:32px;
    height:50px;
    background: white;
    border-radius: 45%;
    position: absolute ;
    top:23px;
    right:47px;
 
}

.left-eye{
    width:89px;
    height:130px;
    background-color: red;
    border-radius:46%;
    position: absolute ;
    top:170px;
    left:111px;
    transform: rotate(23deg);
    
}

.left-inner-eye{
    width:32px;
    height:50px;
    background: white;
    border-radius: 45%;
    position: absolute;
    top:23px;
    left:47px;
  
}


.right-mouth{
    width:120px;
    height:100px;
    border:3px solid black;
    border-radius:190px 150px 0 0;
    border-color:black black transparent black;
    position: absolute ;
    top:365px;
    right:178px;
    transform: rotate(180deg);
}

.left-mouth{
    width:120px;
    height:100px;
    border:3px solid black;
    border-radius:190px 150px 0 0;
    border-color:black black transparent black;
    position: absolute ;
    top:365px;
    left:178px;
    transform: rotate(180deg);
}

.nose{
    height:134px;
    width:153px;
    background-color: #212443;
    border-radius: 46%;
    position: absolute ;
    top:231px;
    left:0;
    right:0;
    margin:auto;
}



.whisker{
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom:20px solid black;
}
