*,::before,::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#header-img{
    width:max(100px,10vw);
}

header{
    width:100%;
    display:grid;
   grid-template: 100%/ 1fr 0.5fr 1fr;
   align-items:center;
   background-color:antiquewhite;

}

.header-text{
    grid-area: 1/2/1/3;
    text-align:left;


}

#header-img{
    grid-area:1/1/1/2;
}

nav{
    grid-area: 1/3/1/4;
}

#nav-bar ul{
    display:grid;
    grid-template:0/ repeat(3, 1fr);
    text-align:center;
    list-style: none;
}

.history{
    grid-area: 1/1/1/2;
}

.how-to{
    grid-area:1/2/1/3;
}

.price{
    grid-area: 1/3/1/4;
}

#history{
    display:flex;
    justify-content:center;
    align-items: space-between;
    text-align:center;
    padding-top:2rem;
}



.history * {
    margin: 2rem 0;

}

.history :last-child{
    margin:0;
    color:blue;
}
